<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.kitchen.system.pc.food.mapper.FoodListMapper">

    <sql id="base_sql">
        meauID,user_id,user_name,name,tags,method,img,level,peopleNum,taste,prepareTime,cookTime,mainIngredient,accessories,measure,techniques,CreateTime,readcount,likecount
    </sql>
    <sql id="rank_sql">
        meauID,user_id,user_name,name,tags,img,likecount
    </sql>
<!--    降序排列菜单 -->
    <select id="getList" resultType="foodMeau">
        SELECT
        <include refid="base_sql" />
        FROM meau
        ORDER BY readcount DESC 
    </select>
<!--    查询喜欢度-->
    <select id="getLikeList" resultType="foodRankDto">
        SELECT
        <include refid="rank_sql"></include>
        FROM `meau`
        ORDER BY likecount desc
        LIMIT 0,7
    </select>
<!--  查询最近 中最受欢迎排行-->
    <select id="getLastList" resultType="foodRankDto">
        SELECT
        <include refid="rank_sql"></include>
        FROM `meau`
        ORDER BY createTime desc ,likecount desc
        LIMIT 0,7
    </select>
<!-- 获取菜品详情 -->
    <select id="getFoodMeau" resultType="foodMeau" >
        SELECT
        <include refid="base_sql"/>
        FROM meau
        WHERE meauID = #{meauId}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(meauID) FROM meau
    </select>

<!--    修改阅读量 -->
    <update id="updateRead" >
        UPDATE meau set readcount = readcount+1 where meauID = #{meauId}
    </update>

</mapper>
