<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.kitchen.system.pc.node.mapper.NodeMapper">

    <select id="queryNode"  resultType="node">
        SELECT node_id,node_content,create_time FROM NODE
    </select>

    <insert id="insertNode" parameterType="node">
        INSERT INTO NODE(node_id,node_content) values (#{nodeId},#{nodeContent})
    </insert>

    <delete id="deleteNode" parameterType="string">
        DELETE FROM NODE WHERE node_id=#{nodeId}
    </delete>

</mapper>