<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhf.kitchen.system.pc.search.mapper.SearchMapper">


    <sql id="BASE_user_detail">
       id, user_phone, user_name, age, sex, user_photo, fans, noricer, notes_num, tuck_num, create_time, update_time
    </sql>

    <sql id="Base_food">
        meauID,user_id,user_name,name,tags,method,img,readcount,likecount
    </sql>


    <!--  通过 电话搜索  用户-->
    <select id="selectUser" parameterType="string" resultType="searchUserDetail">
        SELECT
        <include refid="BASE_user_detail" />
        FROM user_detail
        WHERE user_phone = #{phone}
    </select>

    <!--  通过 关键字  搜索 食品-->
    <select id="selectFood" parameterType="string" resultType="searchFoodMeau">
        SELECT
        <include refid="Base_food" />
        FROM meau
        WHERE name like #{value} or tags like #{value}
    </select>

</mapper>