*{
    margin: 0px;
    padding: 0px;
}

#top{
    width: 1100px;
    height: 20px;
    padding-top: 50px;
}
#top_logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    position: relative;
}
#top_search{
    margin-top: 20px;
    width: 270px;
    height: 40px;
    float: right;
    position: relative;
}
#FDJ{
    padding: 7px;
    position: absolute;
	width: 20px;
	height: 20px;
}
#top_search_input{
    height: 33px;
    width: 260px;
    border: 1px solid #d4d1cf;
    border-radius: 5px;
    position: absolute;

}
#top_search_input_Text{
    border:none;
    height: 32px;
    margin-left: 30px;
    width: 150px;
	padding-left: 10px;
    position: absolute;
}

#top_search_input_Text:focus{
    outline: none;
}

#top_list {
    margin-top: 26px;
    width: 320px;
    height: 30px;
    float: right;
    position: relative;
}
ul li {
    list-style-type: none;
    display: inline;
    margin: 20px;
}
ul .na_li{
    list-style-type: none;
    display: inline;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: coral;
}



#body_div{
    width: 1100px;
    height: auto;
    margin: 0px auto;
    opacity:0.95;
    z-index: -1;
}

#body_div_left_top{
    margin-top: 30px;
    float: left;
    height: auto;
    margin-left: 40px;
    width: 680px;
    position: relative;
}

#body_div_right_top{
    float: right;
    margin-top:30px ;
    margin-right: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:360px;
    border: 1px solid #e8e6e6;
}
#body_div_right_center{
    float: right;
    margin-top: 60px;
    margin-right: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_right_bottom{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_right_last{
    float: right;
    margin-top: 20px;
    margin-right: 40px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_left_top_down{
    border-radius: 3px;
    margin-top: 10px;
    height: auto;
    width: 660px;
    padding-top: 5px;
    margin-left: 40px;
}
#body_div_left_center{
    margin-top: 20px;
    float: left;
    width: 660px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 40px;
}
#body_div_left_center_food{
    margin-top: 10px;
    height: 150px;
    width: 660px;
    position: relative;
    margin-left: 40px;
}
#NOone,#NOone1{
    height: 150px;
    width: 660px;
    margin-top: 10px;
    border: 1px solid #e8e6e6;
}
#image,#image1{
    width: 440px;
    height: 150px;
    position: absolute;
}
#writer,#writer1{
    height: 150px;
    width: 220px;
    float: right;
    position: relative;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#body_div_left_bottom,#body_div_left_bottom2{
    margin-top: 20px;
    float: left;
    width: 660px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 40px;
}
#body_bottom{
    width: 100%;
    height:300px;
    background-color: #eae6e3;
}