*{
    margin: 0px;
    padding: 0px;
}

#top{
    width: 1100px;
    height: 20px;
    padding-top: 50px;
}
#top_logo{
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 10px;
    position: relative;
}
#top_search{
    margin-top: 20px;
    width: 270px;
    height: 40px;
    float: right;
    position: relative;
}
#FDJ{
    padding: 7px;
    position: absolute;
	width: 20px;
	height: 20px;
}
#top_search_input{
    height: 33px;
    width: 260px;
    background-color: white;
    border: 1px solid #d4d1cf;
    border-radius: 5px;
    position: absolute;

}
#top_search_input_Text{
    border:none;
    height: 32px;
    margin-left: 30px;
    width: 150px;
	padding-left: 10px;
    position: absolute;
}

#top_search_input_Text:focus{
    outline: none;
}

#top_list {
    width: 260px;
    height: 30px;
    float: right;
    position: relative;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: coral;
}

@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.img_photo {
    width: 40px;
    height:40px;
    border-radius: 50% ;
    -webkit-transform: rotate(360deg);
    animation: rotation 5s linear infinite;
    -moz-animation: rotation 5s linear infinite;
    -webkit-animation: rotation 5s linear infinite;
    -o-animation: rotation 5s linear infinite;
}

#body_div{
    width: 1410px;
    height: auto;
    margin: 0px auto;
    padding-top: 70px;
    overflow: hidden;
}

#body_div_left_top{
    margin: 20px auto;
    height: auto;
    width: 680px;
    float: left;
    position: relative;
}

#body_div_right_top{
    float: right;
    margin-top:30px ;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:360px;
    border: 1px solid #e8e6e6;
}
#body_div_right_center{
    float: right;
    margin-top: 60px;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_right_bottom{
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_right_last{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    background-color: #ffffff;
    border-radius: 3px;
    width: 280px;
    height:auto;
    border: 1px solid #e8e6e6;
}
#body_div_left_top_down{
    border-radius: 3px;
    margin: 10px auto;
    height: auto;
    float: left;
    width: 660px;
    padding-top: 5px;
}
#body_div_left_center{
    margin: 20px auto;
    width: 660px;
    float: left;
    height: auto;
    position: relative;
}
#body_div_left_center_food{
    margin: 10px auto;
    height: 150px;
    width: 660px;
    float: left;
    position: relative;
}
#NOone,#NOone1{
    height: 150px;
    width: 638px;
    margin-top: 20px;
    border: 1px solid #e8e6e6;
}
#image,#image1{
    width: 440px;
    height: 150px;
    position: absolute;
}
#writer,#writer1{
    height: 150px;
    width: 220px;
    float: right;
    position: relative;
    background-color: white;
}
img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

#body_div_left_bottom,#body_div_left_bottom2{
    margin: 20px auto;
    width: 660px;
    height: auto;
    float: left;
    position: relative;
}
#body_bottom{
    width: 100%;
    height:300px;
    background-color: #eae6e3;
}

.select_photo{
    margin: 1px;
}
.look_photo {
    border: 2px #665b5b solid;
}

.select_photo:active {
    border: 3px coral solid;
}