*{
    margin: 0;
    padding: 0;
}
#food_list{
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    width:1410px;
    height: auto;
}
#body_div_left_top_down1{
    border-radius: 3px;
    margin: 10px auto;
    height: 200px;
    width: 960px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
#food_list_pork,#food_list_fish{
    width: 960px;
    margin: 10px auto;
    height:auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
}
#food_list_left_beef,#food_list_left_other,#food_list_left_chicken{
    float: left;
    width: 460px;
    margin: 10px 0 10px 225px;
    height:auto;
    background-color: rgba(255, 255, 255, 0.5);
}
#food_list_right_mutton,#food_list_right_milk,#food_list_right_duck{
    float: right;
    width: 460px;
    margin: 10px 225px 10px 0;
    height:auto;
    background-color: rgba(255, 255, 255, 0.5);
}
#food_list_pork_class_th,#food_list_fish_class_th{
    width: 960px;
    height: 40px;
    text-align: left;
    background-color: #ddd9d9;
}
#food_list_left_beef_th,#food_list_left_other_th,#food_list_left_chicken_th{
    width: 460px;
    height: 40px;
    text-align: left;
    background-color: #ddd9d9;
}
#food_list_right_mutton_th,#food_list_right_milk_th,#food_list_right_duck_th{
    width: 460px;
    height: 40px;
    text-align: right;
    background-color: #ddd9d9;
}

.a:hover {
    background-color: rgba(170, 231, 219, 0.2);
}
