* {
	margin: 0;
	padding: 0;
}

 .info{
	 box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
	 max-width: 850px;
	 height: 250px;
	 margin: 10px auto;
	 padding-top: 50px;
 }

.pro_left{
	width: 200px;
	height: 200px;
	float: right;
	margin-right: 50px;
}

.table_info{
	width: 500px;
	float: left;
	line-height: 60px;
	margin-left: 50px;
}

.pro_photo{
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 25px;
	width: 150px;
	height: 150px;
	
}
